@model IEnumerable<Domain.Doctor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/EspaceMedecin/_LayoutMedecin.cshtml";
}



@using (Html.BeginForm())
{
    <table border="0">
        <tr>
            <td>
                <div> Serach by area : @Html.TextBox("SearchString")    </div>
            </td>

            <td>
                <input type="submit" value="Search" id="submit" />
            </td>
        </tr>
    </table>
}
<hr />

        @foreach (var item in Model)
        {
          
                <div class="col-md-12 blog-top" >
                    <div class="blog-in">
                        <a href="single.html" class="blog-post">
                            @{string path = "~/Content/UploadAzza/" + @item.ImageName;}
                            <img src="@Url.Content(path)" alt=" "  style="height:250px;width:200px">
                        </a>
                        <div class="blog-grid">
                            
                            <h3><a href="#">@Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)</a></h3>
                            <p>
                                Hello I am @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName) a @Html.DisplayFor(modelItem => item.Speciality) in @Html.DisplayFor(modelItem => item.Address). <span>
                                I love to work with all my hospital staff and seniour doctors.
                                </span>This is my Number: @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </p>
                            @Html.ActionLink("View Disponibilities", "ViewDispo", new { id = item.Id }, new { @class ="smore" }) View Disponibilities
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <i class="black"> </i>
                </div>
            
                                }
                

  

