<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        @Html.Partial("_HeadPartial")
    </head>
    <body>
        <!-- header -->
        @Html.Partial("_MenuPartial")


        <!-- //header -->
        <!-- login-section -->
        <section class="login-page">
            <div class="inner-banner demo-2 text-center">
                <header class="logo">
                    <h1><a class="cd-logo link link--takiri" href="index.html">Prevention <span>is better than cure.</span></a></h1>
                </header>
                <div id="breadcrumb_wrapper">
                    <div class="container">
                        <h2>Register</h2>
                        <h6>add a short description here</h6>
                    </div>
                </div>
            </div>
            <!--- login ---->
            <!-- login -->
            <div class="login">
                <div class="container">
                    <h3>Register Here</h3>
                    <p class="est">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <div>@RenderBody()</div>
                </div>
            </div>
            <!-- //login -->
            <!--- /login ---->
        </section>
        <!-- //login-section -->
        <!-- book an appointment -->
        <!-- news letter -->

        @Html.Partial("_NewsletterPartial")


        <!-- //book an appointment -->
        <!-- //news letter -->
        <!-- footer -->

        @Html.Partial("_FooterPartial")

        <!-- //footer -->
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                };
                */

                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    </body>
</html>
